<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
</head>
<body>
     <!-- <%- include('../adminheader.ejs') %>  -->
     <div>
     

      <form action="<%=(typeof editData!='undefined')?'/product-edit/'+editData.pid:'/product/product'%>" method="POST">
            <label>Product Name</label>
            <input type="text" placeholder="Product Name" name="product_name" required value="<%=(typeof editData!='undefined')? editData.product_name:''%>">
          
            <button type="submit">Submit</button>
          </form>
  </div>
</body>
</html>
