

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>ADMIN PANEL</title>
  </head>
  <body>
    
    <div class="navbar">
        <a href="/admindashboard">Home</a>
                    
        <div class="dropdown">
          <button class="dropbtn">Product
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/product-list">Product</a>
            <a href="/product-add">Create</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Category
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/category-list">Category</a>
            <a href="/category-add">Create</a>
            
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Subcategory
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Create</a>
            <a href="#">Update</a>
            <a href="#">Delete</a>
          </div>
        </div>
        <a class="nav-link" href="/logout">Logout</a>
      </div>           
           
             
            </div>
          </div>
        </nav>

     
    </body>
  </html>
