
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>HOME PAGE</title>
</head>
<body>
  

<div class="navbar">
  <a href="/dashboard">Home</a>
  <div class="subnav">
    <button class="subnavbtn">Shop<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="/product-show">Product</a>
      <a href="/category-show">Category</a>
      <a href="/subcategory-show">SubCategory</a>
    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Favourite<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
       <a href="/favourite-list">Wishlist</a>
        </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Contact<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="/email">Email</a>     
    </div>
  </div>
  <a class="nav-link" href="/search-category">By category</a>
  <a class="nav-link" href="/search-subcategory">By Subcategory</a>
  <a class="nav-link" href="/search-byprice">Search By Price</a>
  <a class="nav-link" href="/search-byname">Search By name</a>  
  <a class="nav-link" href="/logout">Logout</a>   
</div>
</body>
</html>