<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <div class="registration-form">
        <h3>Registration Form</h3>
      <p> <%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
      <form method="post" action="register">
      <div class="form-container">
         <div><input type="text" placeholder="First Name" name="name" required"></div>
        </div>
    
        <div class="form-container">  
            <div><input type="email" placeholder="Email Address" name="email" required></div>
         </div>

      <div class="form-container">
        <div><input type="password" placeholder="Password" name="password"></div> 
      </div>
     
      <button type="submit">Register Now</button>
      <a href="/login">Login</a>
      </form>
      </div>
</body>
</html>