<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Product</title>
</head>
<body>
    <%- include('header.ejs') %>  
     
    <form action="/search-byprice" method="get">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" name="price1" placeholder="Lowest Price">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="price2" placeholder="highest Price">
          </div>
             </div>
             <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
      

</body>
</html>